<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GREEN.HARVEST - Header</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css?family=Inter+Tight:500,600,700"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: green;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-bar">
          <div class="header-bar-left">
            <img
              class="header-logo"
              src="../images/header/header-logo.svg"
              width="20px"
              height="20px"
              alt="Green Harvest logo"
            />
            <img
              class="header-title"
              src="../images/header/header-title.svg"
              width="20px"
              height="20px"
              alt="Green Harvest title"
            />
          </div>
          <nav class="header-nav">
            <ul class="nav-list">
              <li><a class="nav-list-HIW" href="#">How It Works</a></li>
              <li><a class="nav-list-VEG" href="#">Vegetables</a></li>
              <li><a class="nav-list-REV" href="#">Reviews</a></li>
            </ul>
            <a class="header-shopnow" href="#">SHOP NOW</a>
          </nav>
          <div class="header-bar-right">
            <img
              class="header-menu"
              src="../images/header/header-menu.svg"
              width="22px"
              height="16px"
              alt="Menu button"
            />
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
