<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GREEN.HARVEST - Header</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css?family=Inter+Tight:500,600,700"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: green;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-bar">
          <div class="header-bar-left">
            <img
              class="header-logo"
              src="./src/images/header/header-logo.svg"
              width="20px"
              height="20px"
              alt="Green Harvest logo"
            />
            <img
              class="header-title"
              src="./src/images/header/header-title.svg"
              width="20px"
              height="20px"
              alt="Green Harvest title"
            />
          </div>
          <nav class="header-nav">
            <ul class="nav-list">
              <li><a class="nav-list-HIW" href="#">How It Works</a></li>
              <li><a class="nav-list-VEG" href="#">Vegetables</a></li>
              <li><a class="nav-list-REV" href="#">Reviews</a></li>
            </ul>
            <a class="header-shopnow" href="#">SHOP NOW</a>
          </nav>
          <div class="header-bar-right">
            <img
              class="header-menu open-menu-bt"
              src="./src/images/header/header-menu.svg"
              width="22px"
              height="16px"
              alt="Menu button"
            />
          </div>
        </div>
        <!-- Açılır menü -->
        <div class="open-menu-overlay is-open"></div>
        <div class="modal-content is-open">
          <svg
            class="closeMenuBtn is-open"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 8L8 24"
              stroke="#FBFBFB"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 8L24 24"
              stroke="#FBFBFB"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <div class="menu-links-container is-open">
            <div class="menu-links is-open">
              <a class="menu-list-HIW is-open" href="#how-it-works"
                >How It Works</a
              >
              <a class="menu-list-VEG is-open" href="#vegetables">Vegetables</a>
              <a class="menu-list-REV is-open" href="#reviews">Reviews</a>
            </div>
            <a class="menu-shop-link is-open" href="#ShopNow">Shop NOW</a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
