<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GREEN.HARVEST - Your Order</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css" />
  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css?family=Inter+Tight:500,600,700" rel="stylesheet" />
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<body>
  <main>
    <section class="your_order">
      <div class="container">
        <div class="section-four-text-box">
        <h2 class="section-four-text">FRESH
          <span class="section-text-your">HARVEST</span>
          BOX HAS GOT YOU COVERED
        </h2>
        <p class="section-four-p">
          Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier
          or support local farmers. Order your box today and start enjoying the best that nature has to offer!
        </p>
        </div>
        <div class="your_content">
          <div id="your_order" class="green-text">
            <h3 class="order-text"> Ordering
              <span class="order-green-span">Form Us</span>
              Is quick and easy! Fill out the form below and we will contact you !
            </h3>
            <form class="green-form">
              <input type="text" name="user-name" class="input-order-form" id="user-name" placeholder="Full Name"
                required>
              <input type="email" name="user-email" class="input-order-form" id="user-email" placeholder="Email" required>
              <textarea type="user-comment" id="user-comment" class="input-order-textarea" placeholder="Comment">
                </textarea>
              <button type="submit" class="green-button">SEND</button>
            </form>
          </div>
          <div class="green-page">
            <img src="../images/your_order/smoothie.png"
              srcset="../images/your_order/smoothie.png 1x, ../images/your_order/smoothie@2x.png 2x, images/your_order/smoothie@3x.png 3x"
              alt="smoothie">
            <p class="green-social-media">Follow us on our social networks:</p>
            <div class="green-social-media-link">
              <ul class="green-ul">
                <li class="green-li">
                  <a href="#" class="green-a">INSTAGRAM</a>
                  <span class="green-span-a">/</span>
                </li>
                <li class="green-li">
                  <a href="#" class="green-a">FACEBOOK</a>
                  <span class="green-span-a">/</span>
                </li>
                <li class="green-li">
                  <a href="#" class="green-a">YOUTUBE</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>








  </main>
</body>

</html>