/* Mobile styles /
@media (max-width: 767px) {
  / Add your mobile-specific styles here /
  .discount-container {
    padding: 80px 20px;
  }
  .discount-container .discount-container-text .discount-up-to {
    background-color: #576f35;
    padding-right: 16px;
    width: 100%;
    height: 102px;
  }
  .discount-container .discount-container-text {
    font-family: Inter Tight;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.015em;
  }
}

/ Tablet styles /
@media (min-width: 768px) and (max-width: 1279px) {
  / Add your tablet-specific styles here /
  .discount-container {
    padding: 100px 32px;
  }
  .discount-container .discount-container-text .discount-up-to {
    margin-top: -16px;
    padding-top: 16px;
    padding-right: 16px;
  }
  .discount-container .discount-container-text {
    font-family: Inter Tight;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.015em;
  }
}

/ Desktop styles /
@media (min-width: 1280px) {
  / Add your desktop-specific styles here /
  .discount-container {
    padding: 100px;
  }

  .discount-container .discount-container-text .discount-up-to {
    margin-left: -16px;
    padding-left: 16px;
  }

  .discount-container .discount-container-text {
    font-family: Inter Tight;
    font-size: 76px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -0.015em;
    padding-inline: 16px;
  }
}

/ Discount bölümü */
.discount {
  background-color: white;
}

.discount-container {
  width: 100%;
}

.discount-container .discount-container-text {
  text-transform: uppercase;
}

.discount-container .discount-container-text .discount-up-to {
  background-color: #576f35;
  color: white;
  border-radius: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}